<div id="fm">
  <fm-header></fm-header>
  <div class="content">
    <div class="container">
      <div class="breadcrumb-wrap">
        <fm-breadcrumb>
          <fm-breadcrumb-item>全部分类</fm-breadcrumb-item>
          <fm-breadcrumb-item>
            <div class="sub-category">
              <div class="handler">
                <span class="current">{{currentCategory?.displayName}}</span>
                <i class="arrow"></i>
              </div>
              <div class="category-box">
                <ul>
                  <li (click)="changeCategory(item)" [class.checked]="item.id === currentCategory?.id" *ngFor="let item of categories;">{{item.displayName}}</li>
                </ul>
              </div>
            </div>
          </fm-breadcrumb-item>
          <!--<ng-container *ngFor="let item of subcategory">
            <xm-breadcrumb-item *ngIf="item">{{ item }}</xm-breadcrumb-item>
          </ng-container>-->
        </fm-breadcrumb>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
