<div class="fm-page-wrap">
  <ul class="fm-pages">
    <li
      class="fm-page"
      *ngFor="let item of listOfPageBtns"
      [class.disabled]="item.disabled"
      [class.checked]="item.num === pageNum"
      (click)="pageClick(item)"
    >
    <ng-container [ngSwitch]="item.type">
      <a *ngSwitchCase="'page'">{{ item.num }}</a>
      <ng-container *ngSwitchDefault>
        <a [ngSwitch]="item.type">
          <i *ngSwitchCase="'prev'" fmIcon="previewleft" class="icon"></i>
          <i *ngSwitchCase="'next'" fmIcon="previewright" class="icon"></i>
          <i *ngSwitchDefault fmIcon="more" class="icon"></i>
        </a>
      </ng-container>

    </ng-container>
    </li>
  </ul>
  <div class="fm-page-navigate">
    <input #to type="number" (keyup.enter)="inputVal(+to.value)" class="fm-input" [min]="1" [max]="lastNum" />
    <button fmBtn  (click)="inputVal(+to.value)">跳转</button>
  </div>
</div>
